[submodule "lua-kong-nginx-module"]
	path = lua-kong-nginx-module
	url = https://github.com/Kong/lua-kong-nginx-module.git
[submodule "lua-resty-events"]
	path = lua-resty-events
	url = https://github.com/Kong/lua-resty-events.git
[submodule "lua-resty-lmdb"]
	path = lua-resty-lmdb
	url = https://github.com/Kong/lua-resty-lmdb.git
